RewriteEngine On
Options -Multiviews


RewriteBase /
# if is not in the root: 
# RewriteBase /path/to/subfolder


RewriteCond %{REQUEST_URI} !-f
RewriteCond $1 !^(index\.php|style|script|resource)


# PATH_INFO - Method

#	RewriteRule ^(.*)$ index.php/$1 [L]

# END - PATH_INFO - Method


# QUERY_STRING - Method

	RewriteRule ^(.+)$ index.php?path_info=$1&%{QUERY_STRING} [L]

# END - QUERY_STRING - Method
